
.header nav {
    max-width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    
    font-family: "Tauri";
    padding: 1rem;
}
.header_title-text {
    color: white;
    text-decoration: none;
}
.header_title {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding-left: 2rem;
    
}

.header_title a:hover{
    color: #B6635A;
}

.header_links {
    
    display: flex;
    gap: 5rem;
    margin-right: 13rem;
    font-weight: 700;
}

.header_links a:hover {
    color: #d4d4d4;
}

.header_links a  {
    text-decoration: none;
    color: white;
    font-weight: 50px;
    font-size: 15px;
    padding: 0 1rem;
}

.header_links .header_link-home {
    color: #B6635A;
}
.header_github a{
    text-decoration: none;
    color: white;
    padding-right: 5rem;
}

.header_github a:hover {
    color: #d4d4d4;
}

@media(max-width: 600px){
    .header_title {
        font-size: 22px;
        padding-left: 1rem;
    }
    .header_links {
        display: none;
        visibility: hidden;
    }
    .header_github a {
        display: none;
        visibility: none;
    }

}

